<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eruru.Html" version="1.0.0.7" targetFramework="net45" />
  <package id="Eruru.Http" version="1.0.0.6" targetFramework="net45" />
  <package id="Eruru.Json" version="1.0.0.10" targetFramework="net45" />
  <package id="Eruru.QQMini.PluginSDKHelper" version="1.0.0.2" targetFramework="net45" />
  <package id="Eruru.ReaderWriterLockHelper" version="1.0.0.1" targetFramework="net45" />
  <package id="Eruru.TextTokenizer" version="1.0.0.1" targetFramework="net45" />
  <package id="Eruru.Timer" version="1.0.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="QQMini.PluginFramework.Utility" version="1.1.1.1006" targetFramework="net45" />
  <package id="QQMini.PluginInterface" version="1.0.5.1119" targetFramework="net45" />
  <package id="QQMini.PluginSDK" version="1.0.11.1021-Beta" targetFramework="net45" />
  <package id="QQMini.PluginSDK.Core" version="1.0.20.1202-Beta" targetFramework="net45" />
</packages>